*.apk
*.jar
*.keystore
venv
*/__pycache__*
*.pyc
/revanced-cache/
changelog.md
.idea
/apps/docs/README.md
/apps/revanced/
/apps/revanced-extended/
/apps/json/apps.json
/apps/json/env.json
apps/docs/README.md
