beautifulsoup4==4.14.3
browserforge==1.2.3
environs==15.0.1
google-play-scraper==1.2.7
lastversion==3.6.10
loguru==0.7.3
packaging==26.2
pre-commit==4.6.0
python-dotenv==1.2.2
requests==2.33.1
tqdm==4.67.3
pydoll-python==2.21.1
curl_cffi==0.14.0
ruamel.yaml==0.19.1
semver==3.0.4
